.boxes > div{
    height: 300px;
    width: 150px;
    border: 1px solid black;
    background-color:  blue;
    color: orange;
}
.boxes > div:nth-child(even) {
    background-color: red;
}
.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 400px) and (max-width: 500px) {
    .boxes {
        flex-basis: 
    }
}