.boxes > div{
    height: 300px;
    width: 150px;
    border: 1px solid black;
    background-color:  blue;
    color: orange;
}
.boxes > div:nth-child(even) {
    background-color: red;
}
.boxes {
    display: flex;
}